---
import Layout from '@/layouts/Layout.astro';
import Welcome from '@/sections/Welcome.astro';
import Info from '@/sections/Info.astro';
import Poetry from '@/sections/Poetry.astro';
---

<Layout
	title="Library Dark0"
	>

	<main>
	<Welcome />
	<Info />
	<Poetry />
	</main>
</Layout>
