---
---
<section>
    <article class=" mt-20">
        <h2 class="title-article text-7xl mb-2 items-center text-center">Êdoctum</h2>
        <section class="text-xl">
            <p class="font-inter pb-3">
                En un encuentro de escritores iberoamericanos, se discute el papel de la lengua española y la literatura en la preservación de la cultura. Los participantes reflexionan sobre la importancia de la inocencia y la autenticidad en la escritura, y cómo el escritor puede, o más bien, como trasciende las barreras del tiempo y el espacio.<br>En este encuentro, Álvaro Gálvez y Fuentes quien es el que lo dirige, hace la pregunta: “¿Qué es para ustedes la poesía?”, a lo que Juan José Arreola responde:
            </p>
            <p class="font-inter pl-8 pb-5">
                "Todo lo que importa y vale en este mundo, lo que legitima nuestra condición de hombres es lo poético, sea en palabra, sea en artes plásticas, sea en actitudes humanas, no vale la pena referirnos a que significa la palabra poesía, pues creación, en realidad la poesía es la posibilidad de ser real del hombre, su posibilidad de crear, estamos hablando de lenguaje, la poesía es un fenómeno desde luego lingüístico, de ordenación de palabras, cuando hay una urgencia auténtica de comunicar una experiencia íntima o nuestra percepción del mundo externo, la resta, la voluntad expresiva crea la ordenación de las palabras que es estricta, André Guide llegó a hacer una broma casi, diciendo: “Crea una forma bella, porque una idea más bella todavía, vendrá a alojarse en ella“ y la forma es bella aunque sea involuntaria, inocente como nos ha dicho Borges, es una nostalgia de perfección, una nostalgia de manifestación, una nostalgia de armonía y yo no me perdonaría aquí en este programa Álvaro Gálvez y Fuentes, si no dijera una cuantas lineas escritas por Jorge Luis Borges para que sea un ejemplo de lo que él ha hecho como modificador, renovador, enriquecedor de lengua para aprendizaje cultural de sus lectores, se trata simplemente un hombre enamorado que ha perdido la comunicación con la persona amada y los versos de Borges, que sería muy bonito que luego Garcia Ponce, Bleiberg, Elizondo dijeran dónde esta la modificación y el secreto para que estas palabras sean radicales y me atrevo a decirlo, eternas:
            </p>
            <p class="font-inter justify-center text-center xl:px-96 pb-5">
                En cierta calle hay cierta firme puerta<br>
                con su timbre y su número preciso<br>
                y un sabor a perdido paraíso, <br>
                que en los atardeceres no está abierta <br>
                a mi paso. Cumplida la jornada, <br>
                una esperada voz me esperaría <br>
                en la disgregación de cada día <br>
                y en la paz de la noche enamorada. <br>
                Esas cosas no son. Otra es mi suerte: <br>
                Las vagas horas, la memoria impura, <br>
                el abuso de la literatura <br>
                y en el confín la no gustada muerte. <br>
                Sólo esa piedra quiero. Sólo pido <br>
                las dos abstractas fechas y el olvido.<br>
            </p>
            <p class="font-inter pl-8 pb-3">
                Frente a la perdida del amor, la idea de la muerte”

            </p>
            <p class="font-inter ">
                Juan José Arreola define la poesía como algo íntimo y personal que surge de una necesidad de expresar una experiencia o una percepción del mundo. Para Arreola, la poesía no debe estar sujeta a las modas pasajeras, sino que debe buscar la verdad y la belleza. Además, enfatiza que la poesía surge de una necesidad íntima de expresar emociones y percepciones, convirtiéndola en un acto profundamente personal y auténtico.<br>

                El poeta, según Arreola, es un creador que da forma al lenguaje para construir nuevas realidades experiencias. A través de sus palabras, el poeta puede transformar nuestra percepción del mundo y conectarnos con otros en un nivel más profundo.<br>

                Los versos de Borges, citados por Arreola, son un testimonio de la capacidad de la poesía para capturar la esencia de nuestras vivencias más íntimas. En ellos, la nostalgia por lo irrecuperable y la aceptación de nuestro destino se entrelazan, dejando al descubierto la universalidad del sentimiento humano. Así, la poesía se erige como un refugio para el alma, un lugar donde el amor y la pérdida resuenan con una verdad... <br>

                En la visión de Arreola, la poesía se alza como el puente entre lo mundano y lo sublime, un vehículo de transformación personal y colectiva. La poesía no es solo arte, sino un lenguaje universal que resuena con la esencia misma de nuestra existencia, ofreciéndonos un refugio donde el alma puede, finalmente, descansar y contemplar la inmensidad de su propio misterio.

            </p>
        </section>
        <footer>
            <p>
                Posteado en 
                <time datetime="2024-08-07 18:00">Ago 7</time>
                por Dark0.
            </p>
        </footer>
    </article>
    
</section>