---
import { ViewTransitions } from "astro:transitions";

import Header from "@/sections/Header.astro";
import Footer from "@/sections/Footer.astro";
import "@fontsource/kalam";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="TODO" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml+img" href="/favicon.png" />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body
    class="overflow-x-hidden selection:bg-primary selection:text-secondary [&_:focus-visible]:outline-none [&_:focus-visible]:ring-2 [&_:focus-visible]:ring-primary"
  >
    <a
      href="#main-content"
      class="anchor-main-content fixed top-0 z-20 rounded-br-md bg-secondary px-3 py-5 text-primary opacity-0 focus:opacity-100"
      >Saltar al contenido principal</a
    >
    <Header />
    <div
      class="mx-auto min-h-screen max-w-6xl px-2 pt-16 selection:bg-primary selection:text-secondary md:pt-20 lg:px-0"
      id="main-content"
    >
      <slot />
      <Footer />
	</div>
      <style is:global>
        :root {
          --color-primary: #000000;
          --color-secondary: #e0e5e7;
          --color-accent: #840000;
          --color-accent-rgb: 213, 255, 0;

          --background-color: rgba(231,231,229,255);
          --background-twitch: var(--color-twitch-ice);
        }

        html {
          font-family: "Kalam", system-ui, sans-serif;
          background: var(--background-color);
          scrollbar-gutter: stable;
        }

        main {
          position: relative;
        }

        body {
          &:has(dialog[open]) {
            overflow: hidden;
          }
        }

        /* Hiding class, making content visible only to screen readers but not visually */
        /* "sr" meaning "screen-reader" */
        .sr-only:not(:focus):not(:active) {
          clip: rect(0 0 0 0);
          clip-path: inset(50%);
          height: 1px;
          overflow: hidden;
          position: absolute;
          white-space: nowrap;
          width: 1px;
        }

        @supports selector(::-webkit-scrollbar) {
          @media (hover: hover) {
            ::-webkit-scrollbar {
              width: 10px;
              border-radius: 10px;
            }

            ::-webkit-scrollbar-thumb {
              border-radius: 10px;
              background-color: theme("colors.primary");
              border: 2px solid transparent;
              background-clip: content-box;
            }

            ::-webkit-scrollbar-thumb:active {
              background-color: #666;
            }

            ::-webkit-scrollbar-track {
              background: var(--background-image);
            }

            ::-webkit-scrollbar-corner {
              background: var(--background-image);
            }
          }
        }

        @supports not selector(::-webkit-scrollbar) {
          * {
            scrollbar-color: theme("colors.primary") transparent;
            scrollbar-width: thin;
          }
        }

        .anchor-main-content {
          pointer-events: none;
        }

        .anchor-main-content:focus {
          pointer-events: all;
        }
      </style>
    </div>
  </body>
</html>
